[submodule "CoreDetection/raccoon_dataset"]
	path = CoreDetection/raccoon_dataset
	url = https://github.com/experiencor/raccoon_dataset
[submodule "CoreDetection/generator/simple_image_annotator"]
	path = CoreDetection/generator/simple_image_annotator
	url = https://github.com/sgp715/simple_image_annotator
[submodule "CoreDetection/generator/labelImg"]
	path = CoreDetection/generator/labelImg
	url = https://github.com/tzutalin/labelImg
[submodule "CoreTensorFlow/models"]
	path = CoreTensorFlow/models
	url = git@github.com:tensorflow/models.git
[submodule "CoreDetection/onnx-tensorflow"]
	path = CoreDetection/onnx-tensorflow
	url = git@github.com:onnx/onnx-tensorflow.git
[submodule "CoreDetection/turicreate"]
	path = CoreDetection/turicreate
	url = git@github.com:zoecarver/turicreate.git
